<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> English Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to PRETOEFLE Quiz!</h1>
        <form method="POST">
    {% for i, q in indexed_quiz %}
    <div class="question-card">
        <p class="question-text">{{ i+1 }}. {{ q.question }}</p>
        <div class="options">
            {% for option in q.options %}
            <label class="option">
                <input type="radio" name="q{{ i }}" value="{{ option }}" required>
                <span>{{ option }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="submit-btn">Submit</button>
</form>
    </div>
</body>
</html>
